@import 'reset';

/*
	좌우순환 슬라이더 구조 필수요건
	1. 최소 3개 이상의 슬라이더 갯수 확보
	2. 프레임기점으로 양 옆에 여분의 슬라이더가 필요
	3. 패널 ul의 위치값을 위의 구조와 같이 변경
	4. 순환슬라이더는 동적으로 슬라이더의 순서 구조가 변경됨
	5. 스타일시 nth번째 스타일링 불가
*/

main {
	width: 400px;
	height: 200px;
	position: relative;
	//overflow: hidden;
	margin: 100px auto;
	border: 1px solid red;

	.panel {
		width: 100% * 5;
		height: 100%;
		display: flex;
		position: absolute;
		top: 0px;
		left: -100%;

		li {
			width: calc(100% / 5);
			height: 100%;
			overflow: hidden;
			position: relative;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			//background-attachment: fixed;

			&[data-index='1'] {
				background-image: url(../img/pic1.jpg);
			}
			&[data-index='2'] {
				background-image: url(../img/pic2.jpg);
			}
			&[data-index='3'] {
				background-image: url(../img/pic3.jpg);
			}
			&[data-index='4'] {
				background-image: url(../img/pic4.jpg);
			}
			&[data-index='5'] {
				background-image: url(../img/pic5.jpg);
			}
		}
	}

	> span {
		position: absolute;
		top: 50%;
		width: 20px;
		height: 100px;
		border: 1px;
		background: #fff;
		transform: translateY(-50%);
		border: 1px solid #000;
		cursor: pointer;

		&.prev {
			left: 20px;
		}
		&.next {
			right: 20px;
		}
	}
}
