@import 'reset';

main {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;

	.panel {
		width: 100% * 5;
		height: 100%;
		display: flex;
		position: absolute;
		top: 0px;
		left: 0%;

		li {
			width: calc(100% / 5);
			height: 100%;
			overflow: hidden;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;

			&:nth-of-type(1) {
				background-image: url(../img/pic1.jpg);
			}
			&:nth-of-type(2) {
				background-image: url(../img/pic2.jpg);
			}
			&:nth-of-type(3) {
				background-image: url(../img/pic3.jpg);
			}
			&:nth-of-type(4) {
				background-image: url(../img/pic4.jpg);
			}
			&:nth-of-type(5) {
				background-image: url(../img/pic5.jpg);
			}
		}
	}

	.btns {
		display: flex;
		gap: 10px;
		position: absolute;
		bottom: 10px;
		left: 10px;

		li {
			width: 20px;
			height: 20px;
			background: #fff;
			border: 1px solid #000;
			cursor: pointer;

			&.on {
				background: #000;
			}
		}
	}

	> span {
		position: absolute;
		top: 50%;
		width: 20px;
		height: 20px;
		border: 1px;
		background: #fff;
		transform: translateY(-50%);
		border: 1px solid #000;
		cursor: pointer;

		&.prev {
			left: 20px;
		}
		&.next {
			right: 20px;
		}
	}
}
